Repository oweneldridge/audiobook-creator-tts, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, dependencies, ci, core, document-processing, voice-management, configuration, assets

.github/labeler.yml:

# Labeler configuration for automatically labeling PRs based on changed files

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file: ['*.md', 'docs/**/*']

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file: ['tests/**/*', '**/test_*.py', '**/*_test.py']

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: ['requirements*.txt', 'setup.py', 'pyproject.toml']

# GitHub Actions / CI
ci:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*']

# Main application code
core:
  - changed-files:
    - any-glob-to-any-file: ['main*.py', 'convert_*.py']

# Document processing
document-processing:
  - changed-files:
    - any-glob-to-any-file: ['*document*.py', '*epub*.py', '*pdf*.py']

# Voice management
voice-management:
  - changed-files:
    - any-glob-to-any-file: ['voices.json', '*voice*.py']

# Configuration
configuration:
  - changed-files:
    - any-glob-to-any-file: ['*.ini', '*.cfg', '*.json', '*.toml', '*.yaml', '*.yml']

# Assets
assets:
  - changed-files:
    - any-glob-to-any-file: ['*.png', '*.jpg', '*.jpeg', '*.icns', '*.ico', '*.svg']

update gh readme
  .github/README.md
  .github/WORKFLOWS.md
Labels: ci

update gh readme
  .github/README.md
  .github/WORKFLOWS.md
Labels: ci

update gh readme
  .github/INDEX.md
  README.md
Labels: documentation, ci

update gh readme
  .github/INDEX.md
  README.md
Labels: documentation, ci

increase unit test coverage
  COVERAGE_REPORT.md
  pytest.ini
  tests/unit/test_convert_document.py
  tests/unit/test_main_additional.py
  tests/unit/test_main_document_mode.py
Labels: documentation, tests, configuration

increase unit test coverage
  COVERAGE_REPORT.md
  pytest.ini
  tests/unit/test_convert_document.py
  tests/unit/test_main_additional.py
  tests/unit/test_main_document_mode.py
Labels: documentation, tests, configuration

run black formatter
  tests/unit/test_main_document_mode.py
Labels: tests

run black formatter
  tests/unit/test_main_document_mode.py
Labels: tests

support python3.12 compatibility
  pyproject.toml
  pytest.ini
  requirements-test.txt
Labels: dependencies, configuration

support python3.12 compatibility
  pyproject.toml
  pytest.ini
  requirements-test.txt
Labels: dependencies, configuration

update dependency check
  .github/workflows/dependency-check.yml
Labels: ci

update dependency check
  .github/workflows/dependency-check.yml
Labels: ci

remove mds
  BUILD-QUICK-START.md
  COVERAGE_REPORT.md
  PRE-COMMIT-SETUP.md
  TESTING_QUICKSTART.md
  TEST_SUITE_SUMMARY.md
Labels: documentation

remove mds
  BUILD-QUICK-START.md
  COVERAGE_REPORT.md
  PRE-COMMIT-SETUP.md
  TESTING_QUICKSTART.md
  TEST_SUITE_SUMMARY.md
Labels: documentation

add precompute for 3.12 pathlib
  pytest.ini
  tests/unit/test_main_additional.py
Labels: tests, configuration

add precompute for 3.12 pathlib
  pytest.ini
  tests/unit/test_main_additional.py
Labels: tests, configuration

update gitignore
  .gitignore
Labels: none

update gitignore
  .gitignore
Labels: none

update UI flow to prompt for cover art during config process
  main_document_mode.py
Labels: core, document-processing

update UI flow to prompt for cover art during config process
  main_document_mode.py
Labels: core, document-processing

update documentation mode readme
  README_DOCUMENT_MODE.md
Labels: documentation

update documentation mode readme
  README_DOCUMENT_MODE.md
Labels: documentation

add 'open in apple books' support for macos
  main_document_mode.py
Labels: core, document-processing

add 'open in apple books' support for macos
  main_document_mode.py
Labels: core, document-processing

update readme docs for apple books integration (macos)
  README_DOCUMENT_MODE.md
Labels: documentation

update readme docs for apple books integration (macos)
  README_DOCUMENT_MODE.md
Labels: documentation

update technical architecture diagram in readme
  README.md
Labels: documentation

update technical architecture diagram in readme
  README.md
Labels: documentation

update readme
  README.md
Labels: documentation

update readme
  README.md
Labels: documentation

run black
  README_DOCUMENT_MODE.md
  main_document_mode.py
Labels: documentation, core, document-processing

run black
  README_DOCUMENT_MODE.md
  main_document_mode.py
Labels: documentation, core, document-processing

Update README_DOCUMENT_MODE.md
  README_DOCUMENT_MODE.md
Labels: documentation

Update README_DOCUMENT_MODE.md
  README_DOCUMENT_MODE.md
Labels: documentation

fix readme dead link
  README.md
Labels: documentation

fix readme dead link
  README.md
Labels: documentation

update license copy
  LICENSE
  README.md
Labels: documentation

update license copy
  LICENSE
  README.md
Labels: documentation

fix tkinter integration, update readme, add unit tests
  README.md
  main_document_mode.py
  main_playwright_persistent.py
  requirements.txt
Labels: documentation, dependencies, core, document-processing

fix tkinter integration, update readme, add unit tests
  README.md
  main_document_mode.py
  main_playwright_persistent.py
  requirements.txt
Labels: documentation, dependencies, core, document-processing
