Repository oweneldridge/audiobook-creator-tts, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, dependencies, ci, core, document-processing, voice-management, configuration, assets

add unit tests and install shell script
  IMPROVEMENTS.md
  README.md
  install.sh
  tests/unit/test_persistent_browser.py
Labels: documentation, tests

add unit tests and install shell script
  IMPROVEMENTS.md
  README.md
  install.sh
  tests/unit/test_persistent_browser.py
Labels: documentation, tests

update cover art selection to use file browser option
  main_document_mode.py
Labels: core, document-processing

update cover art selection to use file browser option
  main_document_mode.py
Labels: core, document-processing

simplify api limit implementation and accommodate for 60 reqs per captcha
  IMPROVEMENTS.md
  README.md
  main_playwright_persistent.py
  tests/unit/test_persistent_browser.py
Labels: documentation, tests, core

simplify api limit implementation and accommodate for 60 reqs per captcha
  IMPROVEMENTS.md
  README.md
  main_playwright_persistent.py
  tests/unit/test_persistent_browser.py
Labels: documentation, tests, core

add parallel workers and improve installation shell script
  IMPROVEMENTS.md
  README.md
  config/parallel_settings.json
  install.sh
  main_document_mode.py
  main_document_mode_parallel.py
  parallel_coordinator.py
  pytest.ini
  tests/unit/test_main_document_mode_parallel.py
  tests/unit/test_parallel_coordinator.py
  tests/unit/test_worker_browser.py
  worker_browser.py
Labels: documentation, tests, core, document-processing, configuration

add parallel workers and improve installation shell script
  IMPROVEMENTS.md
  README.md
  config/parallel_settings.json
  install.sh
  main_document_mode.py
  main_document_mode_parallel.py
  parallel_coordinator.py
  pytest.ini
  tests/unit/test_main_document_mode_parallel.py
  tests/unit/test_parallel_coordinator.py
  tests/unit/test_worker_browser.py
  worker_browser.py
Labels: documentation, tests, core, document-processing, configuration

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

run black
  main_document_mode.py
  main_document_mode_parallel.py
  parallel_coordinator.py
  tests/unit/test_main_document_mode_parallel.py
  tests/unit/test_parallel_coordinator.py
  tests/unit/test_worker_browser.py
  worker_browser.py
Labels: tests, core, document-processing

run black
  main_document_mode.py
  main_document_mode_parallel.py
  parallel_coordinator.py
  tests/unit/test_main_document_mode_parallel.py
  tests/unit/test_parallel_coordinator.py
  tests/unit/test_worker_browser.py
  worker_browser.py
Labels: tests, core, document-processing

add typing
  main_document_mode_parallel.py
  parallel_coordinator.py
Labels: core, document-processing

add typing
  main_document_mode_parallel.py
  parallel_coordinator.py
Labels: core, document-processing

update type annotations and unit test ci
  .github/workflows/ci.yml
  main_document_mode.py
  main_playwright_persistent.py
  worker_browser.py
Labels: ci, core, document-processing

update type annotations and unit test ci
  .github/workflows/ci.yml
  main_document_mode.py
  main_playwright_persistent.py
  worker_browser.py
Labels: ci, core, document-processing

run black
  main_document_mode.py
Labels: core, document-processing

run black
  main_document_mode.py
Labels: core, document-processing

Refactor README and testing documentation for clarity and consistency
  DEVELOPMENT.md
  IMPROVEMENTS.md
  README-DISTRIBUTION.md
  README.md
  README_DOCUMENT_MODE.md
  README_TESTING.md
  tests/fixtures/README.md
Labels: documentation, tests

Refactor README and testing documentation for clarity and consistency
  DEVELOPMENT.md
  IMPROVEMENTS.md
  README-DISTRIBUTION.md
  README.md
  README_DOCUMENT_MODE.md
  README_TESTING.md
  tests/fixtures/README.md
Labels: documentation, tests

Refactor test cases for improved type hinting and clarity
  .markdownlint.json
  IMPROVEMENTS.md
  README-DISTRIBUTION.md
  README.md
  README_DOCUMENT_MODE.md
  README_TESTING.md
  convert_document.py
  install.sh
  main.py
  main_document_mode.py
  main_document_mode_parallel.py
  main_playwright_persistent.py
  parallel_coordinator.py
  pyrightconfig.json
  tests/conftest.py
  tests/integration/test_api_interactions.py
  tests/integration/test_workflows.py
  tests/unit/test_convert_document.py
  tests/unit/test_document_parsing.py
  tests/unit/test_file_operations.py
  tests/unit/test_main_additional.py
  tests/unit/test_main_document_mode.py
  tests/unit/test_main_document_mode_parallel.py
  tests/unit/test_parallel_coordinator.py
  tests/unit/test_persistent_browser.py
  tests/unit/test_text_processing.py
  tests/unit/test_voice_management.py
  tests/unit/test_worker_browser.py
  worker_browser.py
Labels: documentation, tests, core, document-processing, configuration

Refactor test cases for improved type hinting and clarity
  .markdownlint.json
  IMPROVEMENTS.md
  README-DISTRIBUTION.md
  README.md
  README_DOCUMENT_MODE.md
  README_TESTING.md
  convert_document.py
  install.sh
  main.py
  main_document_mode.py
  main_document_mode_parallel.py
  main_playwright_persistent.py
  parallel_coordinator.py
  pyrightconfig.json
  tests/conftest.py
  tests/integration/test_api_interactions.py
  tests/integration/test_workflows.py
  tests/unit/test_convert_document.py
  tests/unit/test_document_parsing.py
  tests/unit/test_file_operations.py
  tests/unit/test_main_additional.py
  tests/unit/test_main_document_mode.py
  tests/unit/test_main_document_mode_parallel.py
  tests/unit/test_parallel_coordinator.py
  tests/unit/test_persistent_browser.py
  tests/unit/test_text_processing.py
  tests/unit/test_voice_management.py
  tests/unit/test_worker_browser.py
  worker_browser.py
Labels: documentation, tests, core, document-processing, configuration

Refactor test method signatures for improved readability
  tests/unit/test_document_parsing.py
  tests/unit/test_parallel_coordinator.py
  tests/unit/test_voice_management.py
Labels: tests

Refactor test method signatures for improved readability
  tests/unit/test_document_parsing.py
  tests/unit/test_parallel_coordinator.py
  tests/unit/test_voice_management.py
Labels: tests

Add Kokoro TTS backend as drop-in for the speechma.com scrape
  KOKORO_BACKEND.md
  main.py
  main_document_mode.py
  tests/unit/test_text_processing.py
  tts_backend.py
Labels: documentation, tests, core, document-processing

Add Kokoro TTS backend as drop-in for the speechma.com scrape
  KOKORO_BACKEND.md
  main.py
  main_document_mode.py
  tests/unit/test_text_processing.py
  tts_backend.py
Labels: documentation, tests, core, document-processing

Set af_bella as default Kokoro narrator (best for fiction)
  .gitignore
  KOKORO_BACKEND.md
  tts_backend.py
Labels: documentation

Set af_bella as default Kokoro narrator (best for fiction)
  .gitignore
  KOKORO_BACKEND.md
  tts_backend.py
Labels: documentation

Make convert_document.py the headless Kokoro entrypoint (--yes, make_backend); lazy playwright import
  convert_document.py
  main_document_mode.py
  tests/unit/test_convert_document.py
Labels: tests, core, document-processing

Make convert_document.py the headless Kokoro entrypoint (--yes, make_backend); lazy playwright import
  convert_document.py
  main_document_mode.py
  tests/unit/test_convert_document.py
Labels: tests, core, document-processing

Fix EPUB TOC anchor handling: split files at anchors instead of duplicating whole-file text per entry
  main_document_mode.py
  tests/integration/test_workflows.py
Labels: tests, core, document-processing

Fix EPUB TOC anchor handling: split files at anchors instead of duplicating whole-file text per entry
  main_document_mode.py
  tests/integration/test_workflows.py
Labels: tests, core, document-processing

README: lead with the Kokoro backend that is now the default
  README.md
Labels: documentation

Default KOKORO_URL to localhost; keep private server addresses out of the repo
  KOKORO_BACKEND.md
  tts_backend.py
Labels: documentation

.github/labeler.yml:

# Labeler configuration for automatically labeling PRs based on changed files

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file: ['*.md', 'docs/**/*']

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file: ['tests/**/*', '**/test_*.py', '**/*_test.py']

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: ['requirements*.txt', 'setup.py', 'pyproject.toml']

# GitHub Actions / CI
ci:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*']

# Main application code
core:
  - changed-files:
    - any-glob-to-any-file: ['main*.py', 'convert_*.py']

# Document processing
document-processing:
  - changed-files:
    - any-glob-to-any-file: ['*document*.py', '*epub*.py', '*pdf*.py']

# Voice management
voice-management:
  - changed-files:
    - any-glob-to-any-file: ['voices.json', '*voice*.py']

# Configuration
configuration:
  - changed-files:
    - any-glob-to-any-file: ['*.ini', '*.cfg', '*.json', '*.toml', '*.yaml', '*.yml']

# Assets
assets:
  - changed-files:
    - any-glob-to-any-file: ['*.png', '*.jpg', '*.jpeg', '*.icns', '*.ico', '*.svg']
